.Additional{

  text-align: center;
}

.container{

  position: fixed;
  justify-content: center;
}
.scale{

  width: fit-content;
  
}
.main-container{


  height: 80vh;  
  width: 100vw;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  
  
}

.comment-button{

  margin: 10px 50px 10px 10px;
}

.title{
  
  text-align: center;
  
}

.tags-additional{

 
  width: fit-content;
  float: right;
  display: block;
  
}
#submit{

  margin-right: 200px;
  

}
