.Additional{

  text-align: center;
}

.container{

  position: fixed;
  justify-content: center;
}
.scale{

  width: fit-content;
  
}
.main-container{


  height: 80vh;  
  width: 100vw;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  
  
}

.material-symbols-sharp {
  color: rgb(160, 37, 37);
}

.title{
  
  text-align: center;
  
}

.tags-additional{

 
  width: fit-content;
  float: right;
  display: block;
  
}
#submit{

  margin-right: 200px;
  

}
