.tag{

    background-color: rgb(202, 227, 227);
   
    height: 40px;
    width: fit-content;
    font-size: 0.85rem;
    font-style: bold;
    margin-top: 10px;
    border-radius: 20px;
    border-style: solid;
    border: #2e2e34;
    cursor: pointer;
    padding: 0px 10px;
    margin-left: 10px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    
}
.tag:hover{

    background-color: rgb(133, 203, 203);
    border: #000000;
}