.box{

    width: 300px;
    margin : auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.cursor-pointer {

    cursor: pointer;
}

.overall{

    margin-top: 200px;
    text-align: center;

}
.container-overall{

    width: fit-content;
    margin: auto;
}
.emoji{

    width: 3.5em;
    color : black;

}


